.form-popup .close-btn.mfp-close {
  opacity: 0
}

.form-popup .form-popup-headline {
  padding: 36px 22px 30px
}

.form-popup .form-popup-headline p {
  margin-top: 10px;
  color: #fff;
  line-height: 20px
}

.form-popup .form-popup-headline.primary {
  background: url("../images/section_headline_bg.png") no-repeat center #00d7b3;
  background-size: cover
}

.form-popup .form-popup-headline.secondary {
  background: url("../images/section_headline_bg.png") no-repeat center #1cbdf9;
  background-size: cover
}

.form-popup .form-popup-content {
  padding: 22px 22px 26px;
  overflow: hidden
}

.form-popup .popup-title {
  font-size: 1.375em;
  margin-bottom: 15px
}

.form-popup .line-separator {
  margin-bottom: 10px
}

.form-popup .line-separator.double {
  margin-top: 22px
}

.form-popup .line-separator.short {
  margin-bottom: 16px
}

.form-popup input[type="text"], .form-popup input[type="email"], .form-popup input[type="password"] {
  margin-bottom: 8px
}

.form-popup .label-check {
  display: inline-block;
  margin-bottom: 22px
}

.form-popup p {
  font-size: 0.8125em;
  line-height: 1em
}

.form-popup p.highlighted {
  line-height: 20px
}

.form-popup p.highlighted span {
  color: #2b373a;
  font-weight: 700
}

.form-popup p.spaced {
  line-height: 20px;
  margin-bottom: 16px
}

.form-popup p a {
  font-weight: 700
}

.form-popup p a:hover {
  text-decoration: underline
}

.form-popup button {
  margin-top: 0px
}

.form-popup button.no-space {
  margin: 0
}

.form-popup .button {
  width: 100%
}

.form-popup .button.half {
  width: 185px;
  float: left
}

.form-popup .button.half+.button.half {
  float: right
}

.form-popup .input-container {
  margin-bottom: 2px;
  position: relative
}

.form-popup .input-container.field-add {
  padding-right: 36px
}

.form-popup .input-container textarea {
  height: 10px
}

.form-popup .showerror {
  color: red;
}

.form-popup .input-container .select-block {
  margin-bottom: 0
}

.form-popup .add-field {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 5px;
  right: 0;
  cursor: pointer
}

.form-popup .add-field .svg-plus {
  width: 11px;
  height: 11px;
  fill: #fff;
  position: relative;
  top: 2px
}

@media screen and (max-width:1260px) {
  .section.demo .form-popup {
    margin: 0 auto 60px
  }

  .section.demo .form-popup:nth-child(odd) {
    float: none
  }

  .section.demo .form-popup:nth-child(even) {
    float: none
  }

}

@media screen and (max-width:935px) {
  .form-popup.promo {
    width: 400px
  }

  .form-popup.promo .promo-bg {
    display: none
  }

}

@media screen and (max-width:630px) {
  .form-popup {
    width: 90%
  }

  .form-popup.promo {
    width: 90%;
    height: auto
  }

  .form-popup.promo .form-popup-content {
    width: 100%;
    height: auto;
    background-color: #fff
  }

  .form-popup.promo .form-popup-content .form-popup-content-links {
    text-align: center
  }

  .form-popup.promo .form-popup-content .form-popup-content-links>.button {
    float: none;
    width: 100%
  }

  .form-popup.promo .form-popup-content .form-popup-content-links .form-popup-content-links-social {
    float: none;
    display: inline-block;
    margin-top: 20px
  }

  .form-popup .button.half {
    width: 100%;
    float: none
  }

  .form-popup .button.half+.button.half {
    margin-top: 22px
  }

}

.form-popup {
  width: 430px;
  margin: 0 auto;
  border: 1px solid #ebebeb;
  background-color: #fff;
  position: relative
}

.form-popup.new-message {
  width: 400px
}

@media screen and (max-width:935px) {
  .form-popup.new-message {
    width: 80%
  }

}

@media screen and (max-width:460px) {
  .form-popup.new-message {
    width: 95%
  }
}


.mfp-fade.mfp-bg {
  opacity: 0;
  transition: all .15s ease-out
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0
}

.mfp-fade.mfp-wrap .mfp-content {
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all .3s ease-in-out
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  -webkit-transform: scale(1);
  transform: scale(1)
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  -webkit-transform: scale(0);
  transform: scale(0)
}

.mfp-removing .mfp-arrow-left, .mfp-removing .mfp-arrow-right {
  opacity: 0
}

label {
  display: block;
  margin-bottom: 12px;
  color: #888;
  font-size: 0.8125em;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  cursor: pointer
}

label:last-child {
  margin-bottom: 0
}

label.b-label, label.rl-label {
  color: #2b373a;
  font-weight: 700
}

label.rl-label {
  margin-bottom: 14px;
  font-size: 0.875em;
  line-height: 1em;
  cursor: auto
}

label.rl-label.required:after {
  content: '*';
  color: #FF0000;
  position: relative;
  left: 2px
}

label.b-label {
  font-size: 0.8125em
}

label.select-block {
  width: 100%;
  display: inline-block;
  position: relative
}

label.select-block .svg-arrow {
  fill: #535d5f;
  width: 6px;
  height: 10px;
  position: absolute;
  top: 17px;
  right: 17px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}

label>.radio, label>.checkbox {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  border: 1px solid #ebebeb;
  background-color: #f5f5f5;
  position: relative;
  top: 5px
}

label>.radio {
  border-radius: 50%
}

label>.radio span {
  width: 6px;
  height: 6px;
  background-color: #00d7b3;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
  display: none
}

label>.checkbox {
  border-radius: 4px
}

label>.checkbox span {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: url("../images/check.png") no-repeat center;
  display: none
}

input {
  display: block
}

input[type="text"].invalid, input[type="email"].invalid, input[type="password"].invalid {
  border-color: #ea2e68
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  border: 1px solid #ebebeb;
  line-height: 40px;
  border-radius: 4px
}

textarea {
  width: 100%;
  min-height: 74px;
  border: 1px solid #ebebeb;
  padding: 14px 12px
}

.button.mid {

  height: 42px;
  line-height: 42px;
  font-size: 0.875em
}
.button.dark {
  background-color: #f02929;
  position: relative
}

.button {

  width: 120px;
  height: 30px;
  border-radius: 4px;
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 30px;
  text-align: center
}




/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,.2);
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover,
  .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover,
  .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before,
  .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  float: none;
  position: absolute;
  left: 0; }

.mfp-arrow-right {
  float: none;
  position: absolute;
  right: 0; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

