/*-------------------------------------------------------
[Table of contents]

1. Header
	+ logo
	+ top navigation
	+ search
	
2. Content
	+ feature sections
	+ page title
	+ parallax backgrounds
	+ video backgrounds
	
3. Sidebar
	+ site search
	+ tabs
	+ portfolio widgets
	+ advertisements

3. Typography
	+ lists
	+ buttons
	+ styled boxes
	+ dropcaps
	+ highlight colors
	+ tables
	+ pricing tables
	+ framed boxes
	+ pagination
	
4. Footer
	+ copyrights
	+ google map
	
--------------------------------------------------------*/


/*----------------------------------------------------
	SITE MAIN STRUCTURE
------------------------------------------------------*/

.site_wrapper {
	width: 100%;
	margin: 0 auto 0 auto;
}
.container_full {
	width: 100%;
	float: left;
	margin: auto;
}
.container {
	width: 1170px;
	margin: auto;
}

.content_fullwidth {
	float: left;
	width: 100%;
	padding: 90px 0px 90px 0px;
    text-align: center;
   
}
.content_fullwidth.less {
	padding: 0px 0px 90px 0px;
}
.content_fullwidth.less2 {
	padding: 75px 0px 90px 0px;
}
.content_fullwidth.less3 {
	padding: 75px 0px 30px 0px;
}



.content_left {
	float: left;
	width: 71%;
	padding: 0px 0px 0px 0px;
}
.left_sidebar {
	float: left;
	width: 25%;
	padding: 0px 0px 0px 0px;
}
.content_right {
	float: right;
	width: 71%;
	padding: 0px 0px 0px 0px;
}
.right_sidebar {
	float: right;
	width: 25%;
	padding: 0px 0px 0px 0px;
}
.content_halfsite {
	float: left;
	width: 47.5%;
	margin-right: 5%;
	padding: 0px 0px 0px 0px;
}
.content_halfsite.last {
	margin-right: 0;
}


/* columns */
.one_half, .one_third, .one_fourth, .two_third, .three_fourth, .one_fifth, .onecol_forty, .onecol_sixty, .onecol_thirtyfive {
	position: relative;
	margin-right: 4%;
	float: left;
}
.one_full {
	width: 100%;
}
.one_half {
	width: 48%;
}
.one_third {
	width: 30.650%;
}
.one_fourth {
	width: 22%;
}
.one_fifth {
	width: 16.800%;
}
.two_third {
	width: 65.350%;
}
.three_fourth {
	width: 74%;
}
.onecol_forty {
	width: 40%;
}
.onecol_sixty {
	width: 56%;
}
.onecol_thirtyfive {
	width: 35%;
}

/* Less Space Bitween Columns */
.one_half_less, .one_third_less, .one_fourth_less, .two_third_less, .three_fourth_less, .one_fifth_less, .onecol_forty_less, .onecol_sixty_less, .onecol_thirtyfive_less {
	position: relative;
	margin-right: 2%;
	float: left;
}
.one_full_less {
	width: 100%;
}
.one_half_less {
	width: 49%;
}
.one_third_less {
	width: 32%;
}
.one_fourth_less {
	width: 23.500%;
}
.one_fifth_less {
	width: 18.400%;
}
.two_third_less {
	width: 66%;
}
.three_fourth_less {
	width: 74.500%;
}
.onecol_forty_less {
	width: 40%;
}
.onecol_sixty_less {
	width: 58%;
}
.onecol_thirtyfive_less {
	width: 36.250%;
}

.last {
	margin-right: 0 !important;
	clear: right;
}


/*---------------------------------------------------
	HEADER
------------------------------------------------------*/

/* Logo */
#logo {
	float: left;
    display: block;
    width: 100%;
    min-height: 54px;
    margin-top: 10px;
    margin-left: 30px;
    position: relative;
    text-indent: -999em;
    background: url(../images/logo.png) no-repeat left top;
}

/* bigger logo? remove below comment */
/*#logo {
	float:left;
	display:block;
	width:100%;
	min-height: 100px;
	margin-top:0px;
	position: relative;
	text-indent:-999em;
	background:url(../images-3/logo.png) no-repeat left top;
	background-size: 100%;
}*/


/* header area adinationals */
.logo {
	float: left;
	width: 25%;
	margin-top: 5px;
}

.menu_main {
	float: left;
	width: 75%;
	z-index: 9999;
}

/* top navigations */
.top_nav {
	float: left;
	width: 100%;
	background: #2a363f;
	font-size: 13px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}
.top_nav strong {
	font-size: 14px;
	color: #fff;
	font-weight: 500;
	margin-right: 10px;
	letter-spacing: 0.3px;
}
.top_nav strong i {
	color: #dadcdd;
	background: #6a7379;
	font-size: 13px;
	width: 22px;
	height: 22px;
	text-align: center;
	vertical-align: middle;
	line-height: 22px;
	border-radius: 100%;
	margin-right: 3px;
}
.top_nav .left {
	float: left;
	width: 30%;
	padding: 12px 0px 13px 0px;
}
.top_nav .select-style {
    padding: 0;
    margin: 0;
    width: 100px;
    border-radius: 2px;
    overflow: hidden;
    background-color: #2a363f;
	background: #404a53 url("../images-3/arrow-down.png") no-repeat 90% 50%;
}
.top_nav .select-style select {
	color: #fff;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.5px;
    padding: 4px 10px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.top_nav .select-style select:focus {
    outline: none;
}
.top_nav .right {
	float: left;
	width: 70%;
	text-align: right;
}
.top_nav ul.tplinks {
	float: right;
	padding: 0px;
	margin: 0px 0px 0px 0px;
	padding-top: 12px;
}
.top_nav .tplinks li {
	float: left;
	padding: 0px;
	margin: 0px 23px 0px 0px;
	letter-spacing: 0.3px;
}
.top_nav .tplinks li img {
	float: left;
	margin-top: 6px;
	margin-right: 5px;
	opacity: 0.4;
}
.top_nav .tplinks li a {
	float: left;
	color: #fff;
	font-size: 13px;
	border-radius: 100%;
	text-align: center;
	vertical-align: middle;
	transition: all 0.3s ease;
	margin-right: 0px;
}
.top_nav .tplinks li a:hover {
	color: #999;
}

.tpbut {
	float: right;
	color: #fff;
	margin-top: 10px;
	padding: 2px 12px 4px 12px;
	background: #4e5760;
	border-radius: 2px;
	margin-left: 10px;
	transition: all 0.3s ease;
}
.tpbut i {
	color: #a0a5a9;
	transition: all 0.3s ease;
}
.tpbut:hover {
	color: #fff;
	background: #86c724;
}
.tpbut:hover i {
	color: #fff;
}

.tpbut.two {
	padding: 3px 0px 5px 0px;
	background: none;
	margin-left: 20px;
}


.slidermar {
	margin-top: 108px;
}



/* domain search */
.domain_search {
	float: left;
	width: 100%;
	background: #2a363f;
	font-family: 'Roboto', sans-serif;
}
.domain_search .serch_area {
	float: left;
	width: 100%;
	padding: 60px 0px 45px 0px;
	border-bottom: 1px solid #1d262c;
}
.domain_search .serch_area h5 {
	float: left;
	margin: 14px 12px 0px 0px;
}
.domain_search .serch_area .enter_email_input {
	float: left;
	font-family: 'Roboto', sans-serif;
	padding: 3px 0px 4px 20px;
	height: 54px;
	width: 55.2%;
	background: #fff;
	border-radius: 3px;
	border: none;
	color: #727272;
	font-size: 16px;
}
.domain_search .serch_area .input_submit {
	float: left;
	font-family: 'Roboto', sans-serif;
	padding: 15px 25px 16px 25px;
	background-color: #86c724;
	border: 0px;
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	transition: all 0.3s ease;
	border-radius: 3px;
	margin-left: 12px;
}
.domain_search .serch_area .input_submit:hover {
	color: #86c724;
	cursor: pointer;
	background-color: #fff;
}

.domain_search .offers {
	float: left;
	width: 100%;
	border-top: 1px solid #354049;
}
.domain_search .offers ul {
	float: right;
	padding: 0px;
	margin: 0px;
}
.domain_search .offers li {
	float: left;
	padding: 30px 18px 35px 18px;
	margin: 0px;
	color: #fff;
	font-size: 27px;
	font-weight: 200;
	border-left: 1px solid #1d262c;
}
.domain_search .offers li.last {
	padding-bottom: 30px;
}
.domain_search .offers li p {
	color: #878d93;
	font-size: 12px;
	line-height: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin: 0;
	line-height: 14px;
}



.host_plans {
	float: left;
	width: 100%;
	padding: 100px 0px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
.host_plans .planbox {
	float: left;
	width: 100%;
	border: 1px solid #e3e3e3;
	border-radius: 3px;
}
.host_plans .planbox .title {
	float: left;
	width: 100%;
	padding: 20px 0px 10px 0px;
}
.host_plans .planbox .prices {
	background: #5f686f;
	display: inline-block;
	margin-bottom: 35px;
	position: relative;
	width: 100%;
	padding: 27px 0px 23px 0px;
	color: #fff;
}
.host_plans .planbox .prices:before {
	border-top: 15px solid #5f686f;
	border-left: 136px solid transparent;
	border-right: 136px solid transparent;
	content: "";
	height: 0;
	left: 0;
	position: absolute;
	bottom: -15px;
	width: 0;
}
.host_plans .planbox .prices strong {
	color: #fff;
	font-size: 45px;
	font-weight: 800;
	display: block;
}
.host_plans .planbox .prices strong i {
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	font-style: normal;
}
.host_plans .planbox .prices b {
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	font-style: normal;
	display: block;
	margin-bottom: 20px;
}
.host_plans .planbox .prices b em {
	font-style: normal;
	text-decoration: line-through;
}
.host_plans .planbox .prices a {
	color: #5f686f;
	font-size: 14px;
	background: #fff;
	padding: 11px 32px;
	border-radius: 3px;
	text-transform: uppercase;
	font-weight: 600;
	transition: all 0.3s ease;
}
.host_plans .planbox .prices a:hover {
	color: #fff;
	background: #86c724;
}
.host_plans .planbox ul {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px 0px 20px 0px;
}
.host_plans .planbox li {
	float: left;
	width: 100%;
	padding: 9px 0px;
	color: #2a363f;
	border-bottom: 1px solid #f3f3f3;
}
.host_plans .planbox li.last {
	border-bottom: none;
}

.host_plans .planbox.highlight .prices {
	background: #86c724;
}
.host_plans .planbox.highlight .prices:before {
	border-top: 15px solid #86c724;
}
.host_plans .planbox.highlight .prices a {
	color: #86c724;
	background: #fff;
}
.host_plans .planbox.highlight .prices a:hover {
	color: #5f686f;
}
.host_plans .planbox.highlight .hiimg {
	display: block;
	margin: -22px auto 0 auto;
}






/*----------------------------------------------------
   FEATURE SECTIONS
------------------------------------------------------*/

/* feature section 1 */
.feature_section1 {
	float: left;
	width: 100%;
	padding: 95px 0px 90px 0px;
	background: #259fda;
	text-align: center;
}
.feature_section1 .one_third {
	text-align: left;
	color: #fff;
}
.feature_section1 h4 {
	
	color: #fff;
}

.feature_section1 strong {
	
	color: #fff;
}
.feature_section1 i {
	float: left;
    width:62px;
    height:62px;
    border-radius:100%;
    background-color:#fff;
    text-align:center;
    line-height:62px;
    position:relative;
    margin:6px;
	color: #000;
	font-size: 23px;
	margin-right: 20px;
}
.feature_section1 i:after {
    border-radius:100%;
    background:rgba(255,255,255,0.1);
   /*  border:2px solid #fff; */
    position:absolute;
    content:"";
    z-index:1;
    top:0px;
    left:0;
    bottom:0;
    right:0;
	transition:all ease 0.3s;
}
.feature_section1 i:hover:after {
    top:-5px;
    bottom:-5px;
    right:-5px;
    left:-5px;
}


/* feature section 2 */
.feature_section2  {
	float: left;
	width: 100%;
}
.feature_section2 .title  {
	float: left;
	width: 100%;
	text-align: center;
	padding: 75px 0px 30px 0px;
	/* background: url(../images-3/up-arrow.png) no-repeat center bottom; */
}
.feature_section2 .twoboxes  {
	float: left;
	position: relative;
	z-index: 9;
	background: #78c7f1;
	width: 100%;
	padding: 85px 0px 85px 0px;
}
.feature_section2 .twoboxes:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0; 
	right:50%;
	bottom: 0;
	left: 0;
	background: #fcbe02;
}

.feature_section2 .twoboxes .left {
	float: left;
	width: 45%;
	text-align: left;
}
.feature_section2 .twoboxes .right {
	float: right;
	width: 43.5%;
	text-align: left;
}
.feature_section2 .twoboxes i {
	float: left;
	margin-right: 25px;
	color: #fff;
	font-size: 58px;
	margin-top: 14px;
}
.feature_section2 .twoboxes strong {
	color: #fff;
	font-size: 43px;
	line-height: 35px;
	font-weight: 900;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 45px;
}
.feature_section2 .twoboxes strong em {
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	display: block;
	margin-bottom: 0px;
	font-style: normal;
}
.feature_section2 .twoboxes ul {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.feature_section2 .twoboxes li {
	width: 100%;
	padding: 14px 0px;
	margin: 0px;
	color: #fff;
	font-size: 16px;
}
.feature_section2 .twoboxes li i {
	color: #959b9f;
	float: left;
	font-size: 14px;
	margin-right: 12px;
	margin-top: 4px;
	margin-bottom: 30px;
}
.feature_section2 .twoboxes li a {
	float: left;
	margin-top: 10px;
}



/* feature section 3 */
.feature_section3 {
	float: left;
	width: 100%;
	padding: 85px 0px 65px 0px;
}
.feature_section3 .lstblogs {
	float: left;
	width: 100%;
	background: #2a363f;
	font-family: 'Roboto', sans-serif;
}
.feature_section3 .lstblogs img {
	float: left;
	width: 100%;
}
.feature_section3 .lstblogs .date {
	float: left;
	color: #fff;
	font-size: 14px;
	padding: 10px 0px;
	border-radius: 3px;
	background: #86c724;
	text-align: center;
	margin: 30px 20px 30px 30px;
	width: 10%;
	transition: all 0.3s ease;
}
.feature_section3 .lstblogs .date:hover {
	color: #2a363f;
	background: #fff;
}
.feature_section3 .lstblogs .date strong {
	font-size: 27px;
	display: block;
	font-weight: 400;
}
.feature_section3 .lstblogs h4 {
	float: left;
	margin: 30px 20px 30px 0px;
	width: 76%;
	transition: all 0.3s ease;
}
.feature_section3 .lstblogs .hline {
	width: 50px;
	height: 1px;
	background: #fff;
	margin-top: 10px;
	opacity: 0.5;
}
.feature_section3 .lstblogs h4 a:hover {
	color: #86c724;
}


/* feature section 4 */
.feature_section4 {
	float: left;
	width: 100%;
	padding: 90px 0px;
}
.feature_section4 .left,
.feature_section4 .center,
.feature_section4 .right {
	float: left;
	width: 33.3333333333%;
	padding: 45px 50px 56px 50px;
	text-align: center;
}
.feature_section4 .left {
	background: #2a363f;
}
.feature_section4 .center {
	background: #86c724;
}
.feature_section4 .right {
	background: #f3f3f3;
}
.feature_section4 strong {
	color: #fff;
	font-size: 27px;
	font-weight: 700;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}
.feature_section4 strong em {
	color: #fff;
	font-size: 21px;
	font-weight: 300;
	font-style: normal;
	display: block;
	text-transform: none;
	margin-bottom: 9px;
}
.feature_section4 .right strong,
.feature_section4 .right strong em {
	color: #2a363f;
}
.feature_section4 img {
	margin: 25px auto 20px auto;
	display: block;
}

.feature_section4.sty2 {
	padding: 0px 0px;
}
.feature_section4.sty2 .left,
.feature_section4.sty2 .center,
.feature_section4.sty2 .right {
	padding: 35px 50px 35px 50px;
}
.feature_section4.sty2 strong {
	font-size: 45px;
	font-weight: 900;
}
.feature_section4.sty2 strong em {
	margin-bottom: 0px;
	margin-top: 7px;
}




/* feature section 5 */
.feature_section5 {
	float: left;
	width: 100%;
	padding: 40px 0px 65px 0px;
	background-color: #f3f3f3;
	text-align: center;
}
.feature_section5 .two_third {
	padding-top: 70px;
}
.feature_section5 ul {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 5px 0px 9px 0px;
}
.feature_section5 li {
	float: left;
	padding: 5px 7px;
	border: 1px dashed #d9dbdc;
	text-align: center;
	margin: 0px 14px 14px 0px;
}
.feature_section5 li img {
	display: block;
	margin: 0 auto;
	width: 100%;
}


/* feature section 6 */
.feature_section6 {
	float: left;
	width: 100%;
	background: #48afe3;
	padding: 90px 0px 80px 0px;
	text-align: center;
}
.feature_section6 .climg {
	float: left;
	width: 100%;
	text-align: center;
	background: url(../images-3/h-lines.png) no-repeat center 48px;
}
.feature_section6 .climg img {
	width: 12.5%;
	border-radius: 100%;
	margin-bottom: 25px;
}
.feature_section6 .item strong {
	
	font-size: 16px;
	font-weight: 600;
	
}
.feature_section6 .item em {
	font-style: normal;
	color: #fff;
}

.feature_section6.sty2 {
	background: #fff;
}
.feature_section6 .item strong {
	color: #fff;
}

/* feature section 7 */
.feature_section7 {
	float: left;
	width: 100%;
	padding: 90px 0px 97px 0px;
	background: #48afe3;
	text-align: center;
}
.feature_section7 .one_fifth_less {
	border: 1px solid #e3e3e3;
	border-radius: 3px;
	padding: 25px 0px 14px 0px;
	background: #fff;
	transition: all 0.1s ease;
}
.feature_section7 .one_fifth_less i {
	color: #727272;
	display: block;
	font-size: 45px;
	margin-bottom: 14px;
}

.feature_section7 .one_fifth_less img {
	color: #727272;
	display: block;
	font-size: 45px;
	margin-bottom: 14px;
}

.feature_section7 .one_fifth_less:hover {
	border: 1px solid #2a363f;
	background: #2a363f;
}
.feature_section7 .one_fifth_less:hover i,
.feature_section7 .one_fifth_less:hover h5 {
	color: #fff;
}

/* feature section 8 */
.feature_section8 {
	float: left;
	width: 100%;
	background: #2a363f url(../images-3/site-img22.jpg) no-repeat left top;
	padding: 85px 0px 67px 0px;
	text-align: center;
}
.feature_section8 .slidesec {
	float: left;
	width: 100%;
	padding: 40px;
	background: #fff;
	text-align: left;
}
.feature_section8 .imgbox {
	float: left;
	width: 40%;
	margin-right: 45px;
}
.feature_section8 .imgbox img {
	float: left;
	width: 100%;
}
.feature_section8 i {
	color: #86c724;
	font-size: 14px;
}


/* feature section 9 */
.feature_section9 {
	float: left;
	width: 100%;
	padding: 90px 0px 45px 0px;
	text-align: center;
}
.feature_section9 .box {
	float: left;
	width: 100%;
	text-align: left;
	margin-bottom: 50px;
	padding: 25px 30px;
	background: #fff;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.12);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.12);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.12);
}



/* feature section 10 */
.feature_section10 {
	float: left;
	width: 100%;
	padding: 50px 0px 45px 0px;
	text-align: center;
}
.feature_section10 .box {
	float: left;
	width: 100%;
	padding: 16px 0px 10px 0px;
	border: 4px solid #f3f3f3;
	border-radius: 5px;
}
.feature_section10 .box h1,
.feature_section10 .box h6 {
	margin-bottom: 5px;
}
.feature_section10 .box h1 em {
	margin-top: 0px;
	font-size: 14px;
}


/* feature section 11 */
.feature_section11 {
	float: left;
	width: 100%;
	padding: 75px 0px 75px 0px;
	background: #eee;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}
.feature_section11 h1 {
	margin-bottom: 20px;
}
.feature_section11 .tabs {
  display: table;
  table-layout: fixed;
  width: 100%;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  padding: 0px;
  margin: 0px;
}
.feature_section11 .tabs > li {
  transition-duration: .25s;
  display: table-cell;
  list-style: none;
  text-align: center;
  padding: 20px 20px 25px 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  color: #2a363f;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.feature_section11 .tabs > li:before {
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
  height: 120%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition-duration: .25s;
  border-radius: 3px 3px 0 0;
}
.feature_section11 .tabs > li:hover:before {
  -webkit-transform: translateY(70%);
  transform: translateY(70%);
}
.feature_section11 .tabs > li.active {
  color: #86c724;
}
.feature_section11 .tabs > li.active:before {
  transition-duration: .5s;
  background-color: white;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.feature_section11 .tab__content {
  background-color: white;
  position: relative;
  width: 100%;
  border-radius: 3px;
}
.feature_section11 .tab__content > li {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  list-style: none;
}
.feature_section11 .tab__content > li .content__wrapper {
  text-align: center;
  border-radius: 5px;
  width: 100%;
  padding: 45px 40px 40px 40px;
  background-color: #fff;
}

.feature_section11 ul.domlist1 {
	float: left;
	width: 20%;
	padding: 0px 0px 58px 0px;
	margin: 0px 0px;
	border-right: 5px solid #fff;
	border-left: 5px solid #fff;
}
.feature_section11 .domlist1 li {
	width: 100%;
	height: 50px;
	padding-top: 13px;
	margin: 0px;
	border-bottom: 1px solid #f3f3f3;
	color: #2a363f;
	font-size: 16px;
}
.feature_section11 .domlist1 li.title {
	height: 50px;
	padding-top: 0px;
}
.feature_section11 .domlist1 li.title h6 {
	line-height: 18px;
}
.feature_section11 .domlist1 li em {
	color: #ccc;
	text-decoration: line-through;
	margin-right: 5px;
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
}


/* feature section 12 */
.feature_section12 {
	float: left;
	width: 100%;
	padding: 80px 0px 50px 0px;
	text-align: center;
}
.feature_section12 .one_fourth {
	text-align: left;
}
.feature_section12 i {
	float: left;
    width:45px;
    height:45px;
    border-radius:100%;
    background-color:#f3f3f3;
    text-align:center;
    line-height:45px;
    position:relative;
    margin:6px;
	color: #2a363f;
	font-size: 18px;
	margin-right: 18px;
}
.feature_section12 i:after {
    border-radius:100%;
    background:rgba(255,255,255,0.1);
    border:2px solid #f3f3f3;
    position:absolute;
    content:"";
    z-index:1;
    top:0px;
    left:0;
    bottom:0;
    right:0;
	transition:all ease 0.3s;
}
.feature_section12 i:hover:after {
    top:-5px;
    bottom:-5px;
    right:-5px;
    left:-5px;
}


/* feature section 13 */
.feature_section13 {
	float: left;
	width: 100%;
	padding: 75px 0px 90px 0px;
	text-align: center;
	background: #f3f3f3;
}
.feature_section13 .one_half_less {
	padding: 35px 30px 35px 30px;
	background: #fff;
}


/* feature section 14 */
.feature_section14 {
	float: left;
	width: 100%;
	padding: 90px 0px 95px 0px;
	text-align: center;
	background: #f3f3f3;
}
.feature_section14 .one_half {
	float: left;
	padding: 30px 35px;
	background: #fff;
	text-align: left;
	border-radius: 3px;
	transition: all 0.3s ease;
}
.feature_section14 .one_half:hover {
	color: #fff;
	background: #2a363f;
}
.feature_section14 .one_half img {
	float: left;
	width: 140px;
	height: 140px;
	border-radius: 100%;
	margin-right: 25px;
}
.feature_section14 .one_half h5 em {
	display: block;
	font-size: 13px;
	font-style: normal;
	color: #999;
	font-weight: 300;
}


/* feature section 15 */
.feature_section15 {
	float: left;
	width: 100%;
	padding: 90px 0px 95px 0px;
	text-align: center;
	background: #f3f3f3;
}
.feature_section15 .one_fourth_less {
	float: left;
	padding: 10px 10px 30px 10px;
	background: #fff;
	border-radius: 3px;
	transition: all 0.3s ease;
}
.feature_section15 .one_fourth_less:hover {
	color: #fff;
	background: #2a363f;
}
.feature_section15 .one_fourth_less img {
	width: 100%;
	margin-bottom: 20px;
}
.feature_section15 .one_fourth_less h5 em {
	display: block;
	font-size: 13px;
	font-style: normal;
	color: #999;
	font-weight: 300;
}
.feature_section15 .one_fourth_less p {
	width: 80%;
	margin: 0 auto 16px auto;
}
.feature_section15 .one_fourth_less a i  {
	color: #fff;
	font-size: 13px;
	width: 26px;
	height: 26px;
	border-radius: 100%;
	background: #d3d3d3;
	text-align: center;
	vertical-align: middle;
	line-height: 26px;
	transition: all 0.3s ease;
}
.feature_section15 .one_fourth_less a:hover i  {
	color: #fff;
	background: #86c724;
}


/* feature section 16 */
.feature_section16 {
	float: left;
	width: 100%;
	padding: 50px 0px 40px 0px;
	background: #f3f3f3;
}

.feature_section401 {
    float: left;
    width: 100%;
    padding: 61px 0px;
    background: #2aaae2;
    color: #fff;
}

.feature_section401 span {
    float: left;
    color: #fff;
    font-size: 35px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 5px;
}


/* feature section 17 */
.feature_section17-1 {
	float: left;
	width: 100%;
	padding: 95px 0px 90px 0px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
.feature_section17-1 .one_third {
	float: left;
	padding: 35px 5px 5px 5px;
	background: #fff;
	border-radius: 5px;
	/* border: 5px solid #f3f3f3; */
}
.feature_section17-1 .one_third i {
	color: #2a363f;
	font-size: 45px;
	margin-bottom: 27px;
	border-radius: 100%;
	text-align: center;
	vertical-align: middle;
}
.feature_section17-1 .one_third a.but1 {
	color: #fff;
	border-radius: 3px;
	padding: 13px 27px;
	background: #86c724;
	text-transform: uppercase;
	white-space: nowrap;
	transition: all 0.3s ease;
}
.feature_section17-1 .one_third a.but1:hover {
	color: #fff;
	background: #2a363f;
}

.feature_section17-2 {
	float: left;
	width: 100%;
	padding: 95px 0px 90px 0px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	background-color: #51bae8;
}
.feature_section17-2 .one_third {
	float: left;
	padding: 35px 5px 5px 5px;
	background: #fff;
	border-radius: 5px;
	/* border: 5px solid #f3f3f3; */
}
.feature_section17-2 .one_third i {
	color: #2a363f;
	font-size: 45px;
	margin-bottom: 27px;
	border-radius: 100%;
	text-align: center;
	vertical-align: middle;
}
.feature_section17-2 .one_third a.but1 {
	color: #fff;
	border-radius: 3px;
	padding: 13px 27px;
	background: #86c724;
	text-transform: uppercase;
	white-space: nowrap;
	transition: all 0.3s ease;
}
.feature_section17-2 .one_third a.but1:hover {
	color: #fff;
	background: #2a363f;
}

/* feature section 17 */
 .feature_section17 {
	float: left;
	width: 100%;
	padding: 95px 0px 90px 0px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
.feature_section17 .one_third {
	float: left;
	padding: 35px 50px 45px 50px;
	background: #fff;
	border-radius: 5px;
	border: 5px solid #f3f3f3;
}
.feature_section17 .one_third i {
	color: #f69233;
	font-size: 45px;
	margin-bottom: 27px;
	border-radius: 100%;
	text-align: center;
	vertical-align: middle;
}
.feature_section17 .one_third a.but1 {
	color: #fff;
	border-radius: 3px;
	padding: 13px 27px;
	background: #86c724;
	text-transform: uppercase;
	white-space: nowrap;
	transition: all 0.3s ease;
}
.feature_section17 .one_third a.but1:hover {
	color: #fff;
	background: #2a363f;
} 


.video_full_site {
	width: 70%;
	height: 450px;
}




.client_logos {
	float: left;
	width: 100%;
	padding: 63px 0px 50px 0px;
	text-align: center;
}
.client_logos ul {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0 0 0 3%;
}
.client_logos li {
	float: left;
	padding: 0px 12px;
	margin: 0px;
}

.client_logos.two {
	padding: 0px 0px 50px 0px;
}


.price_compare {
	float: left;
	width: 100%;
	padding: 90px 0px;
	text-align: center;
}
.price_compare table {
	width: 100%;
	font-family: 'Roboto', sans-serif;
}
.price_compare table,
.price_compare th,
.price_compare td {
	border-collapse: separate;
    border-spacing: 10px 1px;
}
.price_compare table i {
	font-size: 14px;
	border-radius: 100%;
	width: 23px;
	height: 23px;
	text-align: center;
	vertical-align: middle;
	line-height: 22px;
	background: #fff;
}
.price_compare table td.first {
	background: #fff;
	border: none;
}
.price_compare td {
    padding: 12px 0px 12px 0px;
    text-align: left;
	background: #f9f9f9;
	text-align: center;
	color: #2a363f;
}
.price_compare th {
    padding: 12px 0px 12px 0px;
    text-align: left;
	background: #f3f3f3;
	text-align: center;
	font-weight: normal;
	color: #2a363f;
}
.price_compare th.alileft,
.price_compare td.alileft {
	text-align: left;
	padding: 12px 0px 12px 18px;
	color: #2a363f;
	font-weight: 500;
	font-size: 15px;
}
.price_compare .rowfirst {
	width: 37%;
}
.price_compare .rowsremain {
	width: 21%;
	background: #eee;
}

.price_compare .title {
	float: left;
	width: 75%;
	text-align: right;
}
.price_compare .title .arrow_box {
	position: relative;
	background: #5f686f;
	padding: 12px 20px 12px 0px;
}
.price_compare .title .arrow_box:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(153, 153, 153, 0);
	border-left-color: #5f686f;
	border-width: 18px;
	margin-top: -18px;
}
.price_compare .title h5 {
	color: #fff;
	margin-bottom: 0px;
	font-weight: 300;
}
.price_compare .title h3 {
	color: #fff;
	font-weight: 900;
	margin-bottom: 0px;
}
.price_compare .prices {
	float: left;
	width: 100%;
	text-align: center;
	padding: 20px 0px 30px 0px;
}
.price_compare .prices h4 {
	margin-bottom: 18px;
}
.price_compare .prices strong {
	color: #86c724;
	font-size: 45px;
	font-weight: 800;
	display: block;
}
.price_compare .prices strong i {
	color: #2a363f;
	font-size: 12px;
	font-weight: 400;
	font-style: normal;
	background: none;
}
.price_compare .prices b {
	color: #727272;
	font-size: 12px;
	font-weight: 300;
	font-style: normal;
	display: block;
	margin-bottom: 22px;
	margin-top: 5px;
}
.price_compare .prices b em {
	font-style: normal;
	text-decoration: line-through;
}
.price_compare .prices a {
	color: #fff;
	font-size: 14px;
	background: #2a363f;
	padding: 10px 27px;
	border-radius: 3px;
	text-transform: uppercase;
	font-weight: 600;
	transition: all 0.3s ease;
}
.price_compare .prices a:hover {
	color: #fff;
	background: #86c724;
}

.price_compare .rowsremain.center {
	background: #2a363f;
}
.price_compare .rowsremain.center .prices strong {
	color: #fff;
}
.price_compare .rowsremain.center .prices a {
	color: #2a363f;
	background: #fff;
}
.price_compare .rowsremain.center .prices a:hover {
	color: #fff;
	background: #86c724;
}
.price_compare .rowsremain.center .prices i {
	color: #fff;
}
.price_compare .rowsremain.center span {
	color: #fff;
	padding: 3px 10px 4px 10px;
	background: #86c724;
	margin-top: -62px;
	margin-bottom: 32px;
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.5px;
}



/*----------------------------------------------------
   PARALLAX SECTIONS
------------------------------------------------------*/

/* parallax section 1 */
.parallax_section1 {
	float: left;
	width: 100%;
	text-align: center;
	padding: 90px 0px 70px 0px;
	background: #eee /* url("../images-3/gray-full.jpg") */;
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:100% 0;
	background-position: center;
}


/* parallax section 2 */
.parallax_section2 {
	float: left;
	width: 100%;
	text-align: center;
	padding: 90px 0px 100px 0px;
	background-color: #259fda;
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:100% 0;
	background-position: center;
	
	-moz-box-shadow:    inset  0  3px 3px -3px #e0e0e0, 
                        inset  0 -3px 3px -3px #e0e0e0;
    -webkit-box-shadow: inset  0  3px 3px -3px #e0e0e0, 
                        inset  0 -3px 3px -3px #e0e0e0;
     box-shadow:        inset  0  3px 3px -3px #e0e0e0, 
                        inset  0 -3px 3px -3px #e0e0e0;
}
.parallax_section2 .one_fifth_less {
	float: left;
	background:  rgba(255, 255, 255, 0.75);
	border-radius: 3px;
	padding: 20px 0px 25px 0px;
}


/* parallax section 3 */
.parallax_section3 {
	float: left;
	width: 100%;
	text-align: center;
	padding: 90px 0px 70px 0px;
	background: #454545 url("../images-3/site-img22.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:100% 0;
	background-position: center;
}


/* parallax section 4 */
.parallax_section4 {
	float: left;
	width: 100%;
	text-align: center;
	padding: 90px 0px 70px 0px;
	background: #454545 url("../images-3/site-img31.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:100% 0;
	background-position: center;
}


/* parallax section 5 */
.parallax_section5 {
	float: left;
	width: 100%;
	text-align: center;
	padding: 90px 0px 70px 0px;
	background: #eee url("../images-3/site-img31.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:100% 0;
	background-position: center;
}









/*----------------------------------------------------
 FOOTER STYLES
------------------------------------------------------*/
.footer {
	float: left;
	width: 100%;
}
.footer .ftop {
	float: left;
	width: 100%;
	height: 130px;
	background: url(../images-3/footer-img1.png) no-repeat center top;
}
.footer .ftop .left {
	float: left;
	width: 33.1%;
	margin-top: 32px;
	text-align: right;
}
.footer .ftop .left h4 {
	margin-bottom: 5px;
}
.footer .ftop .left h1 {
	color: #86c724;
	font-size: 45px;
	font-weight: 900;
	letter-spacing: 1px;
}

.footer .ftop .right {
	float: right;
	width: 50%;
	margin-top: 50px;
}
.footer .ftop .right p {
	color: #fff;
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 11px;
}
.footer .ftop .right .newsle_eminput {
	float: left;
	font-family: 'Roboto', sans-serif;
	padding: 3px 0px 4px 20px;
	height: 50px;
	width: 78.4%;
	background: #fff;
	border-radius: 3px;
	border: none;
	color: #727272;
	font-size: 14px;
}
.footer .ftop .right .input_submit {
	float: left;
	font-family: 'Roboto', sans-serif;
	padding: 13px 30px 14px 30px;
	background-color: #7f868c;
	border: 0px;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	transition: all 0.3s ease;
	border-radius: 3px;
	margin-left: 12px;
}
.footer .ftop .right .input_submit:hover {
	color: #86c724;
	cursor: pointer;
	background-color: #fff;
}

.footer .secarea {
	float: left;
	width: 100%;
	padding: 75px 0px 67px 0px;
	background: #2a363f;
}
.footer .secarea h4 {
	margin-bottom: 14px;
}
.footer ul.foolist {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.footer .foolist li {
	padding: 4px 0px;
	margin: 0px;
}
.footer .foolist li a {
	color: #aaa;
	transition: all 0.3s ease;
}
.footer .foolist li a:hover {
	color: #fff;
}

.footer ul.foosocial {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 7px 0px 0px 0px;
}
.footer .foosocial li {
	float: left;
	margin: 0px 7px 0px 0px;
	padding: 0px;
}
.footer .foosocial li i {
	color: #fff;
	width: 34px;
	height: 34px;
	text-align: center;
	vertical-align: middle;
	line-height: 34px;
	border-radius: 100%;
	transition: all 0.3s ease;
}
.footer .foosocial li.faceboox i {
	background: #2b87c7;
}
.footer .foosocial li.twitter i {
	background: #38c0dd;
}
.footer .foosocial li.gplus i {
	background: #dc6218;
}
.footer .foosocial li.youtube i {
	background: #b34300;
}
.footer .foosocial li.linkdin i {
	background: #2862d8;
}
.footer .foosocial li i:hover {
	opacity: 0.5;
}


.footer .secarea .address {
	float: left;
	width: 100%;
	color: #aaa;
	text-align: right;
}
.footer .secarea .address b {
	color: #fff;
	font-weight: normal;
}
.footer .secarea .address a {
	color: #fff;
	transition: all 0.3s ease;
}
.footer .secarea .address a:hover {
	color: #86c724;
}
.footer .secarea .address a.smbut {
	font-size: 12px;
	color: #999;
	transition: all 0.3s ease;
}
.footer .secarea .address a.smbut:hover {
	color: #fff;
}


.copyrights {
	float: left;
	width: 100%;
	background: #1c2329;
	padding: 35px 0px 32px 0px;
	color: #8e9194;
	font-size: 13px;
}
.copyrights a {
	color: #8e9194;
	padding: 0px 5px;
	transition: all 0.3s ease;
}
.copyrights a:hover {
	color: #fff;
}



.feature_section338 {
    float: left;
    width: 100%;
    padding: 70px 0px 90px 0px;
    background: #ffffff;
}

.feature_section338 .case-item {
    padding: 30px;
    /* background-color: #e9e9e9; */
    transition: all .3s ease;
    border: 1px solid #ababab;
}

.feature_section338 .case-item .case-item__thumb {
    margin-bottom: 22px;
    box-shadow: 0 16px 16px -8px rgba(0, 0, 0, 0.3);
}

.feature_section338 .case-item .case-item__title {
    color: #2f2c2c;
    margin-bottom: 5px;
    text-align: center;
    font-size: 20px;
    line-height: 27px;
}

.feature_section338 img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

/*page titles*/

.page_title1 {
	position: relative;
	float: left;
	width: 100%;
	color: #fff;
	text-align: center;
	margin-top: 80px;
	padding: 100px 0px 59px 0px;
	background: #999 url(../images-3/gray-full.jpg) no-repeat center top;
}
.page_title1 h1 {
	color: #fff;
	font-size: 45px;
	font-weight: 700;
	line-height: 45px;
	/*text-transform: uppercase;*/
}
.page_title1 h1 em {
	color: #fff;
	font-weight: 400;
	display: block;
	font-size: 18px;
	font-style: normal;
	text-transform: none;
}

.page_title1.sty2 {
	background: #999 url(../images-3/gray-full.jpg) no-repeat center top;
}
.page_title1.sty3 {
	background: #999 url(../images-3/gray-full.jpg) no-repeat center top;
}
.page_title1.sty4 {
	background: #999 url(../images-3/gray-full.jpg) no-repeat center top;
}
.page_title1.sty5 {
	background: #999 url(../images-3/gray-full.jpg) no-repeat center top;
}
.page_title1.sty6 {
	background: #999 url(../images-3/gray-full.jpg) no-repeat center top;
}
.page_title1.sty8 {
	background: #f28c14;
    text-align: left;
    padding: 60px 0px 30px 0px;
    text-align: center;
}

.page_title1.sty10 {
	background: #999 url(../images-3/gray-full.jpg) no-repeat center top;
	text-align: left;
	padding: 120px 0px 81px 0px;
}
.page_title1.sty11 {
	background: #999 url(../images-3/gray-full.jpg) no-repeat center top;
	text-align: left;
	padding: 90px 0px 59px 0px;
}
.page_title1.sty12 {
	background: #999 url(../images-3/gray-full.jpg) no-repeat center top;
	text-align: left;
	padding: 90px 0px 59px 0px;
}


.page_title1.sty9 {
	text-align: left;
	padding: 58px 0px 45px 0px;
	background: #999 url(../images-3/gray-full.jpg) no-repeat center top;
}
.page_title1.sty9 h1 {
	float: left;
	font-size: 30px;
	color: #2a363f;
	margin-bottom: 12px;
}
.page_title1 .pagenation {
	float: right;
	color: #727272;
	font-size: 13px;
	margin-top: 13px;
}
.page_title1 .pagenation a {
	color: #999;
	transition: all 0.3s ease;
}
.page_title1 .pagenation a:hover {
	color: #2a363f;
}

.page_title1.sty13 {
	text-align: left;
	padding: 58px 0px 45px 0px;
	background: #999 url(../images-3/gray-full.jpg) no-repeat center top;
}
.page_title1.sty13 h1 {
	float: left;
	font-size: 30px;
	color: #fff;
	margin-bottom: 12px;
}
.page_title1.sty13 .pagenation {
	color: #fff;
}
.page_title1.sty13 .pagenation a {
	color: #ccc;
}
.page_title1.sty13 .pagenation a:hover {
	color: #fff;
}







.page_title1.sty7 {
	padding: 100px 0px 85px 0px;
	 background:#e64a19;


}
.page_title1.sty7 .serch_area {
	width: 61%;
	padding: 10px 0px 0px 0px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
}
.page_title1.sty7 .serch_area .enter_email_input {
	float: left;
	font-family: 'Roboto', sans-serif;
	padding: 3px 0px 4px 30px;
	height: 64px;
	width: 70.6%;
	background: #fff;
	border-radius: 3px;
	border: none;
	color: #727272;
	font-size: 16px;
}
.page_title1.sty7 .serch_area .input_submit {
	float: left;
	font-family: 'Roboto', sans-serif;
	padding: 20px 30px 21px 30px;
	background-color: #3aa8df;
	border: 0px;
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	transition: all 0.3s ease;
	border-radius: 3px;
	margin-left: 12px;
}
.page_title1.sty7 .serch_area .input_submit:hover {
	color: #2a363f;
	cursor: pointer;
	background-color: #fff;
}
.page_title1.sty7 .serch_area .molinks {
	float: left;
	width: 100%;
	text-align: left;
	margin-top: 14px;
}
.page_title1.sty7 .serch_area .molinks a {
	color: #fff;
	margin: 0px 10px 0px 0px;
	transition: all 0.3s ease;
}
.page_title1.sty7 .serch_area .molinks a:hover {
	color: #2a363f;
}


/* sidebar widget */
.sidebar_widget {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.sidebar_widget ul.arrows_list1{
	padding: 0px;
	margin: 0px;
	float: left;
	margin-top: -10px;
}
.sidebar_widget ul.arrows_list1 li a {
	color: #86c724;
	line-height: 30px;
}
.sidebar_widget ul.arrows_list1 li a:hover {
	color: #272727;
}
.sidebar_widget ul.arrows_list1 i {
	margin-right: 4px;
}
.sidebar_title {
	float: left;
	width: 100%;
}
.sidebar_widget h4, .clientsays_widget h4 {
	margin-bottom: 30px;
	float: left;
	font-weight: 500;
}

/* Recent Posts */
ul.recent_posts_list {
	margin: 0px;
	padding: 0px;
	width: 100%;
	float: left;
}
.recent_posts_list li {
	padding: 0px 0px 13px 0px;
	margin: 0px 0px 16px 0px;
	list-style-type: none;
	border-bottom: 1px solid #eee;
	float: left;
	width: 100%;
}
.recent_posts_list li a {
	text-decoration: none;
	line-height: 17px;
	display: block;
	color: #999;
}
.recent_posts_list li a:hover {
	color: #86c724;
}

.recent_posts_list li span {
	float: left;
	margin-right: 15px;
}
.recent_posts_list li span img {
	float: left;
	margin-right: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
.recent_posts_list li span img:hover {
	float: left;
	margin-right: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.recent_posts_list li i {
	padding: 1px 0px 0px 0px;
	margin: 0px;
	display: block;
	font-size: 10px;
	font-style: normal;
	color: #c9c9c9;
}
.recent_posts_list li.last {
	padding: 0px 0px 7px 0px;
	margin: 0px 0px 0px 0px;
	border-bottom: 0px solid #f5f6f6;
}

/* client says widget */
.clientsays_widget {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px;
	color: #999;
}
.clientsays_widget strong {
	font-weight: 600;
	color: #454545;
}
.clientsays_widget h3 {
	margin-bottom: 18px;
}
.clientsays_widget img {
	float: left;
	margin-right: 13px;
	margin-top: 7px;
}



.login_form {
	width: 35%;
	margin: 0 auto;
}
.regist_form {
	width: 45%;
	margin: 0 auto;
}



/* 404 Error Page */
.error_pagenotfound {
	padding: 50px 30px 58px 30px;
	margin: 0 auto;
	width: 59%;
	background-color: #fff;
	border: 1px solid #eee;
	border-bottom: 5px solid #eee;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
.error_pagenotfound strong {
	display: block;
	font-size: 145px;
	line-height: 100px;
	color: #e3e3e3;
	font-weight: normal;
	margin-bottom: 10px;
	text-shadow: 5px 5px 1px #fafafa;
}
.error_pagenotfound b {
	display: block;
	font-size: 40px;
	line-height: 50px;
	color: #999;
	margin: 0;
	font-weight: 300;
}
.error_pagenotfound em {
	display: block;
	font-size: 18px;
	line-height: 59px;
	color: #86c724;
	margin: 0;
	font-style: normal;
}


/* portfolio single image */
.portfolio_area {
	padding: 0px;
	margin: 0px;
	width: 100%;
	float: left;
}
.portfolio_area_left {
	padding: 0px;
	margin: 0px;
	width: 74%;
	float: left;
}
.portfolio_area_left img {
	padding: 0px;
	margin: 0px;
	width: 100%;
	float: left;
	box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}
.portfolio_area_right {
	padding: 0px;
	margin: 0px 0px 0px 4%;
	width: 22%;
	float: left;
}
.project_details {
	padding: 0px;
	margin: 80px 0px 0px 0px;
}
.project_details span {
	padding: 10px 0px;
	margin: 0px 0px 0px 0px;
	font-size: 14px;
	font-weight: bold;
	color: #454545;
	float: left;
	width: 100%;
	border-bottom: 1px solid #e3e3e3;
}
.project_details strong {
	padding: 0px 0px;
	margin: 0px 0px 0px 0px;
	font-size: 13px;
	font-weight: bold;
	color: #727272;
	float: left;
	width: 40%;
}
.project_details em {
	padding: 0px 0px;
	margin: 0px 0px 0px 0px;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	color: #727272;
	float: left;
	width: 60%;
}
.project_details span a {
	padding: 3px 10px;
	margin: 0px 0px 0px 3px;
	font-size: 11px;
	line-height: 30px;
	font-weight: normal;
	font-style: normal;
	color: #727272;
	background-color: #e3e3e3;
	border-radius:3px;
}
.project_details span a:hover {
	background-color: #ddd;
}
.addto_favorites {
	padding: 3px 10px 5px 10px;
	margin: 27px 0px 0px 0px;
	width: 142px;
	display: block;
	border-radius:3px;
	font-size: 13px;
	color: #999;
	background: #eee;
}
.addto_favorites:hover {
	background: #e3e3e3;
}
.addto_favorites i {
	color: #c3c3c3;
}

ul.small_social_links {
	padding: 0px;
	margin: 18px 0 25px 0px;
}
.small_social_links li {
	padding: 0px;
	margin: 0px 5px 0px 0px;
	float: left;
}
.small_social_links li i {
	font-size: 11px;
	color: #86c724;
	border: 1px solid #eee;
	width: 25px;
	height: 25px;
	border-radius: 100%;
	text-align: center;
	vertical-align: middle;
	line-height: 23px;
}
.small_social_links li a {
	opacity: 1;
}
.small_social_links li a:hover {
	opacity: 0.7;
}


/* blog */
.blog_post {
	float: left;
	width: 100%;
}
.blog_post h3 {
	text-align: left;
	color: #333;
	line-height: 30px;
	display: block;
}
.blog_post h3 a {
	color: #86c724;
	text-decoration: none;
	margin-top: 3px;
	font-weight: 700;
	font-size: 27px;
	text-transform: uppercase;
}
.blog_post h3 a:hover {
	color: #383634;
}
ul.post_meta_links {
	float: left;
	margin: -5px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.post_meta_links li {
	float: left;
	margin: 0px;
	padding: 0px 0px 0px 4px;
	list-style-type: none;
	color: #999;
}
.post_meta_links li a {
	color: #999;
	padding: 0px 18px 0px 0px;
	text-decoration: none;
	font-size: 11px;
	text-transform: uppercase;
}
.post_meta_links li a:hover {
	color: #727272;
	text-decoration: none;
}
.post_meta_links li i {
	color: #bbb;
	font-size: 12px;
	font-style: normal;
}
.blog_postcontent {
	float: left;
	width: 100%;
}
.blog_postcontent .image_frame {
	float: left;
	width: 100%;
	margin-bottom: 27px;
}

.blog_postcontent .image_frame.mone {
	float: left;
	width: 100%;
	height: 280px;
	overflow: hidden;
}
.blog_postcontent .image_frame.mtwo {
	float: left;
	width: 100%;
	height: 180px;
	overflow: hidden;
}
.blog_postcontent .image_frame.mthree {
	float: left;
	width: 100%;
	height: 480px;
	overflow: hidden;
}
.blog_postcontent .image_frame.mone img,
.blog_postcontent .image_frame.mtwo img,
.blog_postcontent .image_frame.mthree img {
	float: left;
	width: auto;
	margin-left: -45%;
	margin-top: -10%;
}


.blog_postcontent .video_frame.mtwo iframe {
	float: left;
	width: 100%;
	height: 280px;
	overflow: hidden;
}


.blog_postcontent .image_frame.small {
	float: left;
	width: 43%;
	border: 7px solid #fff;
	margin-bottom: 25px;
	-webkit-box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}
.blog_postcontent .image_frame.small:hover {
	border: 7px solid #f9f9f9;
}
.blog_postcontent .image_frame img {
	float: left;
	width: 100%;
}
.blog_postcontent .video_frame.small iframe {
	height: 250px;
}
.blog_postcontent .video_frame iframe {
	float: left;
	width: 100%;
	height: 520px;
	margin-bottom: 27px;
}
.post_info_content_small {
	padding: 0px;
	margin: 0 0 0 4%;
	width: 50%;
	float: left;
}
ul.post_meta_links_small {
	float: left;
	margin: -15px 0px 12px 80px;
	padding: 0px 0px 0px 0px;
	width: 80%;
}
.post_meta_links_small li a {
	color: #a1a1a1;
	padding: 0px 5px 0px 0px;
	text-decoration: none;
	font-size: 11px;
}
.post_meta_links_small li a:hover {
	color: #727272;
	padding: 0px 5px 0px 0px;
	text-decoration: none;
	font-size: 11px;
}
.blog_post a.date {
	color: #454545;
	font-size: 16px;
	font-weight: normal;
}
.blog_post a.date:hover {
	color: #86c724;
}
.post_readmore:link, .post_readmore:visited {
	float: right;
	height: 27px;
	width: 185px;
	text-align: center;
	padding-top: 7px;
	color: #fff;
	text-decoration: none;
	background: url(../images-3/skin01/but_post_readmore.jpg) no-repeat left top;
}
.post_readmore:hover {
	float: right;
	height: 27px;
	width: 185px;
	text-align: center;
	padding-top: 7px;
	color: #fff;
	text-decoration: none;
	background: url(../images-3/skin01/but_post_readmore_hover.jpg) no-repeat left top;
}
.sharepost {
	float: left;
	width: 80%;
	margin-bottom: 40px;
}
.sharepost ul {
	margin: 0px;
	padding: 0px;
}
.sharepost li {
	margin: 0px 7px 5px 0px;
	padding: 2px 5px;
	float: left;
	border-radius: 2px;
	list-style-type: none;
	background-color: #86c724;
	transition: all 0.3s ease;
}
.sharepost li i {
	color: #fff;
}
.sharepost li:hover {
	background-color: #383634;
}

.about_author {
	float: left;
	width: 100%;
	padding: 20px;
	background-color: #f9f9f9;
	border: 1px solid #eee;
}
.about_author img {
	float: left;
	margin-right: 20px;
}
.about_author a {
	font-family: 'Open Sans' !important;
	font-weight: normal;
	font-weight: 600;
	color: #333;
}
.about_author a:hover {
	color: #86c724;
}


/* pagination */
.pagination.center {
	text-align: center;
}
.pagination.center b{
	float: inherit;
}
.pagination {
	clear:both;
	padding:10px 0;
	margin-bottom:20px;
	font-family: 'Open Sans', sans-serif;
}
.pagination b{
	float:left;
	margin: 0px 5px 2px 0;
	padding:0px 10px;
	font-weight: normal;
	color: #999;
}
.pagination a.navlinks {
	font-size: 12px;
	color: #454545;
	background-color: #eee;
	font-weight: 600;
	text-transform: uppercase;
	padding: 7px 10px;
	border-radius: 3px;
}
.pagination a.navlinks:hover {
	color: #fff;
	background-color: #454545;
}
.pagination a.current {
	color: #fff;
	background-color: #454545;
}


/* comments */
.comment_wrap{
	padding:20px 20px 20px 0px;
	overflow:hidden;
	border-bottom:1px solid #eee;
}
.comment_wrap.chaild{
	border-bottom:1px solid #eee;
	margin:10px 20px 10px 50px;
	overflow:hidden;
}
.gravatar{
	float:left;
}

.comment_content{
	overflow:hidden;
	padding-left:20px;
	position:relative;
	min-height:80px; 
}
.comment_content .comment_meta{
	position:relative;
}
.comment_content .comment_meta .comment_author{
	display:inline;
	font-size:14px;
	font-style: normal;
}
.comment_content .comment_meta .comment_author i{
	display:inline;
	font-size:11px;
	font-style: italic;
}
.comment_content .comment_text {
	clear:both;
	padding-top:0px;
	overflow:hidden;
}
.comment_content .comment_text a {
	color: #d3d3d3;
	margin-top: 5px;
	float: left;
}
.comment_content .comment_text a:hover {
	color: #727272;
	margin-top: 5px;
	float: left;
}
#comments_section li ul li{
	margin-left: 30px;
}

/* comment form */
.comment_form {
	float: left;
	width: 100%;
	margin-top: 30px;
}
.comment_form label{
	float: left;
	width: 90px;
	height: 15px;
	padding: 7px 10px;
	margin-bottom: 40px;
	font-weight: normal;
}
.comment_input_bg {
	float: left;
	width: 75%;
	height: 40px;
	padding: 7px 10px 0px 10px;
	border-top: 2px solid #e3e3e3;
	border-left: 2px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #f9f9f9;
}
.comment_textarea_bg {
	float: left;
	width: 90%;
	height: 235px;
	padding: 7px 10px 0px 10px;
	margin-bottom: 20px;
	border-top: 2px solid #e3e3e3;
	border-left: 2px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #f9f9f9;
}
.comment_checkbox {
	float: left;
	display: block;
	width: 90%;
	margin-top: 10px;
}
.comment_submit {
	background-color: #eee;
	border: 1px solid #ddd;
	padding: 9px 13px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	border-radius: 4px;
	color: #333;
	text-transform: uppercase;
}
.comment_submit:hover {
	background-color: #f9f9f9;
	cursor: pointer;
}

/* comments */
.comment_wrap{
	padding:20px 20px 20px 0px;
	overflow:hidden;
	border-bottom:1px solid #eee;
}
.comment_wrap.chaild{
	border-bottom:1px solid #eee;
	margin:10px 20px 10px 50px;
	overflow:hidden;
}
.gravatar{
	float:left;
}

.comment_content{
	overflow:hidden;
	padding-left:20px;
	position:relative;
	min-height:80px; 
}
.comment_content .comment_meta{
	position:relative;
}
.comment_content .comment_meta .comment_author{
	display:inline;
	font-size:14px;
	font-style: normal;
}
.comment_content .comment_meta .comment_author i{
	display:inline;
	font-size:11px;
	font-style: italic;
}
.comment_content .comment_text {
	clear:both;
	padding-top:0px;
	overflow:hidden;
}
.comment_content .comment_text a {
	color: #d3d3d3;
	margin-top: 5px;
	float: left;
}
.comment_content .comment_text a:hover {
	color: #727272;
	margin-top: 5px;
	float: left;
}
#comments_section li ul li{
	margin-left: 30px;
}

/* Advertisements */
ul.adsbanner-list {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	float: left;
	width: 100%;
}
.adsbanner-list li {
	margin: 0px 10px 10px 0px;
	padding: 0px;
	float: left;
	width: 140px;
	height: 140px;
	list-style-type: none;
}
.adsbanner-list li img {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 140px;
	height: 140px;
	list-style-type: none;
}
.adsbanner-list li.last {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	float: left;
	width: 140px;
	height: 140px;
	list-style-type: none;
}

.address_info {
	float: left;
	background-color: #fff;
	border: 1px solid #eee;
	padding: 25px 30px 18px 30px;
	width: 100%;
	margin-bottom: 40px;
}
.address_info.two {
	background-color: #fff;
	border: none;
	padding-top: 0px;
}
.address_info h3 i {
	font-weight: 500;
	font-style: normal;
}

.google-map {
	width: 99%;
	height: 350px;
	border: 5px solid #fff;
	-webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
.google-map2 {
	width: 100%;
	height: 450px;
}
.google-map3 {
	width: 100%;
	height: 300px;
	border: 10px solid #fff;
	-webkit-box-shadow:  0px 0px 1px 0px rgba(0, 0, 0, 0.4);
	box-shadow:  0px 0px 1px 0px rgba(0, 0, 0, 0.4);
}
.google-map4 {
	width: 100%;
	height: 200px;
	border: 5px solid #fff;
	-webkit-box-shadow:  0px 0px 1px 0px rgba(0, 0, 0, 0.4);
	box-shadow:  0px 0px 1px 0px rgba(0, 0, 0, 0.4);
}


/* contact form */
.cforms label {
	float: left;
	width: 100%;
	color: #454545;
	font-weight: normal;
}

.cforms label em {
	color: #86c724;
	font-size: 12px;
	font-style: normal;
}

.cforms input {
	color: #454545;
	float: left;
	width: 100%;
	padding: 9px 12px;
	margin-bottom: 10px;
	border: 1px solid #eee;
	background: #f9f9f9;
	-webkit-box-shadow: inset 1px 0px 2px 0px rgba(238,238,238,1);
	-moz-box-shadow: inset 1px 0px 2px 0px rgba(238,238,238,1);
	box-shadow: inset 0px 1px 2px 0px rgba(238,238,238,1);
}

.cforms textarea {
	color: #454545;
	float: left;
	width: 100%;
	padding: 9px 12px;
	margin-bottom: 10px;
	border: 1px solid #eee;
	background: #f9f9f9;
	-webkit-box-shadow: inset 1px 0px 2px 0px rgba(238,238,238,1);
	-moz-box-shadow: inset 1px 0px 2px 0px rgba(238,238,238,1);
	box-shadow: inset 0px 1px 2px 0px rgba(238,238,238,1);
}

.cforms .button {
	float: left;
	margin-top: 10px;
	color: #fff;
	padding: 14px 20px;
	font-size: 14px;
	font-weight: 500;
	background: #86c724;
	border: 1px solid #7ea821;
	border-radius: 3px;
	font-family: 'Raleway', sans-serif;
	cursor: pointer;
	transition: all 0.3s ease;
}
.cforms .button:hover {
	background: #454545;
	border: 1px solid #393939;
}

.cforms .button2 {
	float: left;
	margin-top: 10px;
	color: #fff;
	padding: 14px 20px;
	font-size: 14px;
	font-weight: 500;
	background: #d2527f;
	border: 1px solid #d2527f;
	border-radius: 3px;
	font-family: 'Raleway', sans-serif;
	cursor: pointer;
	transition: all 0.3s ease;
}
.cforms .button2:hover {
	background: #727272;
	border: 1px solid #393939;
}

.cforms .button3 {
	float: left;
	margin-top: 10px;
	color: #fff;
	padding: 18px 30px;
	font-size: 14px;
	font-weight: 500;
	background: #db6364;
	border: 1px solid #db6364;
	border-radius: 3px;
	font-family: 'Raleway', sans-serif;
	cursor: pointer;
	transition: all 0.3s ease;
}
.cforms .button3:hover {
	background: #454545;
	border: 1px solid #454545;
}


#form_status span{
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	background: #E74C3C;
	width: 100%;
	text-align: center;
	display: inline-block;
	padding: 10px 0px;
	border-radius: 3px;
	margin-bottom: 18px;
}
#form_status span.loading{
	color: #333;
	background: #eee;
	border-radius: 3px;
	padding: 18px 0px;
} 
#form_status span.notice{
	color: yellow;
}
#form_status .success{
	color: #fff;
	text-align: center;
	background: #86c724;
	border-radius: 3px;
	padding: 30px 0px;
}
#form_status .success i{
	color: #fff;
	font-size: 45px;
	margin-bottom: 14px;
}
#form_status .success h3{
	color: #fff;
	margin-bottom: 10px;
}

.cforms.two label {
	float: left;
	width: 100%;
	color: #fff;
	font-weight: normal;
}
.cforms.two label em {
	color: #999;
	font-size: 12px;
	font-style: normal;
}
.cforms.two input {
	color: #fff;
	float: left;
	width: 100%;
	padding: 9px 12px;
	margin-bottom: 10px;
	border: none;
	background: none;
	-webkit-box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,1);
}
.cforms.two textarea {
	color: #fff;
	float: left;
	width: 100%;
	padding: 9px 12px;
	margin-bottom: 10px;
	border: none;
	background: none;
	-webkit-box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,1);
}
.cforms.two .button {
	float: left;
	margin-top: 10px;
	color: #fff;
	padding: 14px 20px;
	font-size: 14px;
	font-weight: 500;
	background: #86c724;
	border: 1px solid #86c724;
	border-radius: 3px;
	font-family: 'Raleway', sans-serif;
	cursor: pointer;
	transition: all 0.3s ease;
}
.cforms.two .button:hover {
	background: #999;
	border: 1px solid #999;
}


.cforms.three label {
	float: left;
	width: 100%;
	color: #fff;
	font-size: 14px;
	margin-bottom: 0px;
	font-weight: normal;
}
.cforms.three label em {
	color: #fff;
	font-size: 12px;
	font-style: normal;
}
.cforms.three input {
	color: #fff;
	float: left;
	width: 100%;
	padding: 9px 12px;
	margin-bottom: 10px;
	border: none;
	background: #44c7af;
	-webkit-box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,1);
}
.cforms.three textarea {
	color: #fff;
	float: left;
	width: 100%;
	padding: 9px 12px;
	margin-bottom: 10px;
	border: none;
	background: #44c7af;
	-webkit-box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,1);
}
.cforms.three .button {
	float: left;
	margin-top: 10px;
	color: #fff;
	width: 100%;
	padding: 12px 0px;
	font-size: 14px;
	font-weight: 500;
	background: #393939;
	border: 1px solid #393939;
	border-radius: 0px;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.3s ease;
}
.cforms.three .button:hover {
	background: #575757;
	border: 1px solid #575757;
}


.cforms.four label {
	float: left;
	width: 100%;
	color: #fff;
	font-size: 14px;
	margin-bottom: 0px;
	font-weight: normal;
	margin: 0;
	padding-left: 0px;
}
.cforms.four label.lst {
	text-align: left;
}
.cforms.four label em {
	color: #fff;
	font-size: 12px;
	font-style: normal;
}
.cforms.four input {
	color: #fff;
	float: left;
	width: 100%;
	padding: 9px 12px;
	margin-bottom: 10px;
	border: none;
	background: none;
	-webkit-box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,1);
}
.cforms.four textarea {
	color: #fff;
	float: left;
	width: 100%;
	padding: 9px 12px;
	margin-bottom: 10px;
	border: none;
	background: none;
	-webkit-box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,1);
}
.cforms.four .button {
	float: left;
	margin-top: 10px;
	color: #fff;
	width: 100%;
	padding: 12px 0px;
	font-size: 14px;
	font-weight: 500;
	background: #6f6f75;
	border: 1px solid #6f6f75;
	border-radius: 0px;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.3s ease;
}
.cforms.four .button:hover {
	background: #919195;
	border: 1px solid #919195;
}


.logregform {
	float: left;
	width: 35%;
	margin-left: 32.5%;
	background: #fff;
	border: 1px solid #f9f9f9;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
}
.logregform.two {
	float: left;
	width: 50%;
	margin-left: 25%;
}
.logregform .title {
	float: left;
	width: 100%;
	background: #f3f3f3;
	text-align: center;
	padding: 23px 0px 21px 0px;
}
.logregform .title h3 {
	margin-bottom: 3px;
	font-weight: 700;
	text-transform: uppercase;
}
.logregform .title p {
	font-size: 12px;
}
.logregform .feildcont {
	float: left;
	width: 100%;
	padding: 30px 30px 40px 30px;
	text-align: left;
}
.logregform .feildcont label {
	float: left;
	width: 100%;
	font-weight: normal;
	color: #727272;
}
.logregform .feildcont label em {
	color: #86c724;
	font-style: normal;
}
.logregform .feildcont input {
	float: left;
	width: 100%;
	padding: 7px 12px;
	border: 1px solid #e3e3e3;
	margin-bottom: 12px;
}
.logregform.two .feildcont input {
	margin-bottom: 18px;
}
.logregform .feildcont .checkbox {
	float: left;
	width: 100%;
}
.logregform .feildcont .checkbox label {
	float: left;
	width: auto;
	font-size: 13px;
}
.logregform .feildcont .checkbox label strong {
	font-weight: 600;
}
.logregform .feildcont .checkbox label a {
	margin-left: 10px;
}
.logregform .feildcont .fbut {
	float: left;
	background: #86c724;
	padding: 13px 23px;
	border: none;
	border-radius: 3px;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	transition: all 0.3s ease;
	margin-top: 18px;
}
.logregform .feildcont .fbut:hover {
	background: #393939;
}

.logregform .feildcont .radiobut input {
	float: left;
	width: auto;
}
.logregform .feildcont .radiobut .onelb {
	float: left;
	color: #aaa;
	margin: 0px 12px 0px 5px;
}

.logregform .feildcont select {
	float: left;
	width: 100%;
	border: 1px solid #e3e3e3;
	padding: 9px 5px 10px 5px;
	color: #999;
	text-align: left;
}


.mgmenucols {
	float: left;
	width: 100%;
}
.mgmenucols .one_fourth {
	width: 23.5%;
	margin-right: 2%;
	padding-right: 2%;
	border-right: 1px solid #f3f3f3;
	text-align: center;
}
.mgmenucols .one_fourth.last {
	margin-right: 0;
	border-right: none;
}


.bordbox {
	float: left;
	width: 100%;
	padding: 30px 40px;
	border: 2px solid #f3f3f3;
	text-align: left;
	border-radius: 3px;
}

.videofre1 {
	float: left;
	width: 100%;
	height: 350px;
}

/* scroll up */
.scrollup{
    width:40px;
    height:40px;
    opacity:1;
    position:fixed;
    bottom:22px;
    right:20px;
    display:none;
    text-indent:-9999px;
    background: url(../images-3/scroll-top-arrow.png) no-repeat left top;
	z-index: 9001;
}

/* feature_section12-1 created by rahul parent class is feature_section12*/


.feature_section107 {
    padding: 30px 0px;
    text-align: center;
}

.feature_section107 h1 {
    font-size: 30px;
}

.feature_section107 h1 b {
    /* font-weight: 900; */
}

.feature_section107 h1 a {
    color: #fff;
    font-weight: 700;
    background: #e67e22;
    padding: 2px 10px 2px 10px;
    border-radius: 3px;
    margin-left: 5px;
    transition: all 0.3s ease;
}

.feature_section12-1 {
	float: left;
	width: 100%;
	padding: 18px 0px 50px 0px;
	text-align: center;
}
.feature_section12-1 .one_half {
	text-align: left;
}
.feature_section12-1 .one_half img{
	width: 100%;
}
.feature_section12-1 i {
	loat: left; */
    width: 45px;
    /* height: 45px; */
    border-radius: 100%;
    /* background-color: #f3f3f3; */
    text-align: center;
    /* line-height: 45px; */
    position: relative;
    margin: 6px;
    color: #2a363f;
    font-size: 18px;
    margin-right: 18px;
}
.feature_section12-1 i:after {
    border-radius:100%;
    background:rgba(255,255,255,0.1);
    /* border:2px solid #f3f3f3; */
    position:absolute;
    content:"";
    z-index:1;
    top:0px;
    left:0;
    bottom:0;
    right:0;
	transition:all ease 0.3s;
}
.feature_section12-1 i:hover:after {
    top:-5px;
    bottom:-5px;
    right:-5px;
    left:-5px;
}

/* end feature_section12 */

/* feature_section18-1 created by rahul parent class from demo3 feature_section18*/

.feature_section18 {
    float: left;
    width: 100%;
    margin-top: 60px;
    padding: 140px 0px 140px 0px;
   /*  background: #f3f3f3 url(../images-3/bg1.jpg) no-repeat center top; */
}

.feature_section18 a {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    background: #3799e4;
    padding: 14px 32px;
    border-radius: 27px;
    white-space: nowrap;
    transition: all 0.3s ease;
}


/* feature section 102 from demo 2 */
.feature_section102 {
	float: left;
	width: 100%;
	padding: 90px 0px 90px 0px;
	text-align: center;
}
.feature_section102 .plan {
	float: left;
	width: 100%;
	text-align: left;
	padding: 0px 0px 90px 0px;
}
.feature_section102 .plan img {
	float: right;
}
.feature_section102 .plan h1 {
	font-size: 45px;
	line-height: 45px;
	font-weight: 200;
}
.feature_section102 .plan h1 b {
	font-weight: 900;
}
.feature_section102 .plan ul {
	float: left;
	padding: 0px;
	margin: 10px 0px 35px 0px;
}
.feature_section102 .plan li {
	float: left;
	margin: 0px 20px 5px 0px;
}
.feature_section102 .plan h2 strong {
	color: #e67e22;
	font-size: 45px;
	font-weight: 900;
}

.feature_section102 .plan.two {
	float: left;
	width: 100%;
	text-align: right;
	padding: 90px 0px 81px 0px;
	background: #eee;
}
.feature_section102 .plan.two img {
	float: left;
}
.feature_section102 .plan.two li {
	float: right;
}

.feature_section102 .plan.three {
	padding: 90px 0px 80px 0px;
}


/* feature section 103 */
.feature_section103 {
	float: left;
	width: 100%;
	padding: 90px 0px 90px 0px;
	text-align: center;
	background: #259fda;
}
.feature_section103 .box {
	float: left;
	width: 25%;
	padding: 10px 30px 45px 0px;
	text-align: left;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.feature_section103 .box i {
	color: #fff;
	font-size: 35px;
	margin-bottom: 18px;
}
.feature_section103 .box h4 {
	color: #fff;
	font-weight: 400;
}
.feature_section103 .box h4 .line {
	display: block;
	width: 50px;
	height: 1px;
	background: #fff;
	margin-top: 7px;
	margin-bottom: 18px;
}

.feature_section103 .box.two {
	padding: 10px 0px 45px 20px;
	border-left: 1px solid #fff;
}
.feature_section103 .box.two.last {
	border-right: none;
}

.feature_section103 .box.three {
	padding: 45px 0px 10px 0px;
	border-bottom: none;
	border-top: 1px solid #fff;
}

.feature_section103 .box.four {
	padding: 45px 0px 10px 20px;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-bottom: none;
}
.feature_section103 .box.four.last {
	border-right: none;
}


/* feature section 106 from demo2 */
.feature_section106 {
	float: left;
	width: 100%;
	padding: 0px;
	background: #eee;
}
.feature_section106 .left {
	float: left;
	width: 33.5%;
	padding: 90px 0px 90px 0px;
	margin-left: 13%;
}
.feature_section106 .left .climg {
	float: left;
	width: 23%;
	margin-right: 30px;
}
.feature_section106 .left .climg img {
	float: left;
	width: 100%;
	margin-bottom: 10px;
	border-radius: 3px;
}
.feature_section106 .left .climg strong {
	float: left;
	color: #e67e22;
}
.feature_section106 .left .climg em {
	font-size: 12px;
	font-style: normal;
}

.feature_section106 .right {
	float: right;
	width: 50%;
	padding: 90px 0px 75px 70px;
	background: url(../images/gray-full.jpg) no-repeat left top;
}
.feature_section106 .right ul {
	float: left;
	width: 80%;
	padding: 0px;
	margin: 0px;
}
.feature_section106 .right li {
	float: left;
	width: 27%;
	padding: 12px 0px 7px 0px;
	margin-right: 4%;
	margin-bottom: 20px;
	border: 1px solid #fff;
	text-align: center;
	border-radius: 3px;
}
.feature_section106 .right li img {
	width: 50%;
}


.feature_section106-1 {
	float: left;
	width: 100%;
	padding: 90px 0px 90px 0px;
	text-align: center;

}
.feature_section106-1 .one_fourth {
	width: 22%;
    padding: 20px 20px 20px 20px;
    border: 1px solid #f8ac09;
    border-radius: 7px;
    background-color: #fff;
    text-align: center;
} 

.feature_section106-1 h3 {
	color: #259fda;
} 

.pricingtable3 .bg{

	background-color: #f3f3f3;
}



