.sitecolor {
	color: #35d3b7;
}

#logo {
	background: url(../../images2/colors/cyan/logo.png) no-repeat left top;
}

.site_wrapper ul.nav>li>a.active {
	color:#35d3b7;
}
.site_wrapper ul.nav>li>a:hover.active {
	color:#35d3b7;
}
.site_wrapper ul.nav>li>a:hover {
	color:#35d3b7;
	transition: all 0.3s ease;
}
.site_wrapper ul.nav .dropdown li:hover a.active {
	color: #35d3b7;
}
.site_wrapper .dropdown-menu>.active>a,
.site_wrapper .dropdown-menu>.active>a:hover,
.site_wrapper .dropdown-menu>.active>a:focus {
	color: #fff;
    background-color: #35d3b7;
}
.site_wrapper .mega-menu-contnew .section-box.last a:hover {
	color: #fff;
	background: #35d3b7;
}
.site_wrapper .mega-menu-contnew .section-box a.active,
.site_wrapper .mega-menu-contnew .section-box a:hover,
.site_wrapper .mega-menu-contnew .section-box a:hover strong,
.site_wrapper .mega-menu-contnew .section-box a:hover span,
.site_wrapper .mega-menu-contnew .section-box a:hover i {
	color: #35d3b7;
}
.site_wrapper .mega-menu-contnew .section-box a.active span,
.site_wrapper .mega-menu-contnew .section-box a.active i,
.site_wrapper .mega-menu-contnew .section-box a.active strong {
	color: #35d3b7;
}
.site_wrapper ul.nav .dropdown li a.active,
.site_wrapper ul.nav .dropdown li a.active i {
    color: #35d3b7;
}

.site_wrapper .tpbut:hover {
	background: #35d3b7;
}


.master-slider .ms-layer.text2 em {
	color: #35d3b7;
}
.master-slider .ms-layer.text3 em {
	color: #35d3b7;
}
.master-slider .ms-layer.text4 em {
	color: #35d3b7;
}
.master-slider .ms-layer.sbut1:hover {
	color: #fff;
	background: #35d3b7;
}
.master-slider .ms-layer.sbut2 {
	color: #fff;
	background: #35d3b7;
}
.master-slider .ms-layer.vline {
	background: #35d3b7;
}
.master-slider .ms-layer.sbox1 {
	color: #fff;
	background: #35d3b7;
}
.master-slider .ms-layer.cirbox1.colored {
	color: #fff;
	background: #35d3b7;
}

.domain_search .serch_area .input_submit {
	background-color: #35d3b7;
	color: #fff;
}
.domain_search .serch_area .input_submit:hover {
	color: #35d3b7;
}

.host_plans .planbox.highlight .prices {
	background: #35d3b7;
}
.host_plans .planbox.highlight .prices:before {
	border-top: 15px solid #35d3b7;
}
.host_plans .planbox.highlight .prices a {
	color: #35d3b7;
	background: #fff;
}
.host_plans .planbox .prices a:hover {
	color: #fff;
	background: #35d3b7;
}

.feature_section3 .lstblogs .date {
	background: #35d3b7;
}

.site_wrapper .detached.tabs > ul > li.current span {
	background: #35d3b7;
}

.feature_section4 .center {
	background: #35d3b7;
}

.button.one:hover {
	background: #35d3b7;
}
.button.three:hover {
	color: #fff;
	background: #35d3b7;
}
.button.three.dark:hover {
	color: #fff;
	background: #35d3b7;
}

.footer .ftop .left h1 {
	color: #35d3b7;
}
.footer .ftop .right .input_submit:hover {
	color: #35d3b7;
}

.price_compare .prices strong {
    color: #35d3b7;
}
.price_compare .prices a:hover {
	color: #fff;
	background: #35d3b7;
}
.price_compare .rowsremain.center span {
    background: #35d3b7;
}
.price_compare .rowsremain.center .prices a:hover {
	color: #fff;
	background: #35d3b7;
}

.feature_section8 i {
    color: #35d3b7;
}

.page_title1.sty7 {
	background: #35d3b7 url(../../images2/site-img28.png) no-repeat center top;
}

.site_wrapper .feature_section11 .tabs > li.active {
    color: #35d3b7;
}

.logregform .feildcont .fbut {
	background: #35d3b7;
}

.feature_section17 .one_third a.but1 {
	background: #35d3b7;
}

.cforms .button {
	background: #35d3b7;
	border: 1px solid #35d3b7;
}




.site_wrapper .tabs3 li a:hover {
	color: #35d3b7;
}
.site_wrapper .tabs3 li.active a {
	color: #35d3b7;
}
.site_wrapper .tabs2 li.active a {
	background-color: #35d3b7;
}
.site_wrapper .tabs.side li.active a {
	background-color: #35d3b7;
}
.site_wrapper .tabs li.active a:after {
	border-right-color: #35d3b7;
}

.site_wrapper ul.tabs li.active, html ul.tabs li.active a,
.site_wrapper html ul.tabs li.active a:hover  {
	border-top: 1px solid #35d3b7;
}
.site_wrapper .tags li a:hover {
	background-color: #35d3b7;
}

.features_sec14 {
	background: #35d3b7;
}

.pritable .pacdetails.three {
	box-shadow: 0px -5px 0px #35d3b7;
}
.pritable .pacdetails.three .title strong {
	color: #35d3b7;
}
.pritable .pacdetails.three .bottom a {
	background: #35d3b7;
}
.pritable .pacdetails.three h6 {
	background: #35d3b7;
}

.site_wrapper .st-accordion-four ul li.st-open > a {
    color: #35d3b7;
}
.site_wrapper .st-accordion-four ul li > a {
    color: #35d3b7;
}
.site_wrapper .st-accordion-four ul li.st-open > a span{
	background: transparent url(../../images2/colors/cyan/minus-color.png) no-repeat center center;
}
.site_wrapper .st-accordion-four ul li > a span{
	background: transparent url(../../images2/colors/cyan/plus-color.png) no-repeat center center;
}
.site_wrapper .st-accordion-four ul li > a:hover{
    color: #35d3b7;
}
.site_wrapper .st-accordion ul li > a:hover{
    color: #35d3b7;
}

.site_wrapper .cd-timeline-content h2 { color: #35d3b7; font-weight: normal; margin-bottom: 0px;}
.site_wrapper .no-touch .cd-timeline-content .cd-read-more:hover { background-color: #35d3b7; }
.site_wrapper .cd-timeline-content .cd-date strong {
	background-color: #35d3b7;
}
.site_wrapper .cd-timeline-content .cd-date strong {
	background: #35d3b7;
}
.site_wrapper .cd-timeline-content .cd-date strong:after {
	border-right-color: #35d3b7;
}
.site_wrapper .cd-timeline-content .cd-date b {
	background-color: #35d3b7;
}
.site_wrapper .cd-timeline-content .cd-date b {
	background: #35d3b7;
}
.site_wrapper .cd-timeline-content .cd-date b:after {
	border-left-color: #35d3b7;
}

.features_sec38 h6 {
	color: #35d3b7;
}

.flips2_back {
	background-color:#35d3b7;
}
.flips3_front.flipscont3 i {
	color: #35d3b7;
}
.flips3_back {
	background-color:#35d3b7;
}
.flips4_back h5 a:hover {
	color: #35d3b7;
}

.but_small1 {
	background-color: #35d3b7;
}
.but_small1.gray:hover {
	background-color: #35d3b7;
}
.but_small3 {
	background-color: #35d3b7;
}
.but_small2 {
	background-color: #35d3b7;
}
.but_small4 {
	background-color: #35d3b7;
}
.but_small5 {
	color: #35d3b7;
	border: 2px solid #35d3b7;
}
.but_small5.light:hover {
	color: #35d3b7;
}
.but_small5.light2:hover {
	color: #35d3b7;
}

.but_medium1 {
	background-color: #35d3b7;
}
.but_medium3 {
	background-color: #35d3b7;
}
.but_medium2 {
	background-color: #35d3b7;
}
.but_medium4 {
	background-color: #35d3b7;
}
.but_medium5 {
	color: #35d3b7;
	border: 2px solid #35d3b7;
}

.but_large1 {
	background-color: #35d3b7;
}
.but_large1.small {
	background-color: #35d3b7;
}
.but_large3 {
	background-color: #35d3b7;
}
.but_large2 {
	background-color: #35d3b7;
}
.but_large4 {
	background-color: #35d3b7;
}
.but_large4.white {
	color: #35d3b7;
}
.but_large5 {
	color: #35d3b7;
	border: 2px solid #35d3b7;
}
.but_full2 .butprogress {
	background: #35d3b7;
}

.stcode_title4 .line{
    background: #35d3b7;
}
.stcode_title5 .line{
    background: #35d3b7;
}
.stcode_title7 .line{
    background: #35d3b7;
}
.stcode_title12 h2{
	color: #35d3b7;
}

.button.transp2 {
	background: #35d3b7;
}

.counters2 i {
	color: #35d3b7;
}
.counters3 .one_fourth.white i {
	color: #35d3b7;
}
.counters3 .one_fourth.one {
	color: #35d3b7;
}
.counters3 .one_fourth.one i {
	color: #35d3b7;
}
.counters3 .one_fourth.two {
	color: #35d3b7;
}
.counters3 .one_fourth.two i {
	color: #35d3b7;
}
.counters4 {
	color: #35d3b7;
}

.features_sec62 .box .icon:hover {
	color: #35d3b7;
}

.pricingtable3 li.title.act {
	background-color: #35d3b7;
}
.pricingtable3 li.hecont.act strong {
	background-color: #35d3b7;
}
.pricingtable3 li.price.act h1 {
	color: #35d3b7;
}


.hexagon:hover i {
	color: #35d3b7;
}

.sidebar_widget ul.arrows_list1 li a {
	color: #35d3b7;
}
.recent_posts_list li a:hover {
	color: #35d3b7;
}

.fati4 {
	background-color: #35d3b7;
}
.fati5 {
	color: #35d3b7;
	border: 1px solid #35d3b7;
}
.fati9 {
	color: #35d3b7;
	border: 5px solid #35d3b7;
}
.fati19:hover {
	color: #35d3b7;
}

.big_text1 i {
	color: #35d3b7;
}

.error_pagenotfound em {
	color: #35d3b7;
}

.small_social_links li i {
	color: #35d3b7;
}

.site_wrapper .cbp-l-caption-buttonLeft,
.site_wrapper .cbp-l-caption-buttonRight{
	background-color: #35d3b7;
}
.site_wrapper .cbp-l-filters-dropdownWrap{
	background: #35d3b7;
}

.site_wrapper .cbp-l-grid-masonry .cbp-caption-activeWrap.two:hover .cbp-l-caption-title,
.site_wrapper .cbp-l-grid-masonry .cbp-caption-activeWrap.three:hover .cbp-l-caption-title {
	color: #35d3b7;
}

.blog_post h3 a {
	color: #35d3b7;
}
.blog_post a.date:hover {
	color: #35d3b7;
}
.sharepost li {
	background-color: #35d3b7;
}
.about_author a:hover {
	color: #35d3b7;
}

.divider_line11 {
	background: url(../../images2/colors/cyan/h-line5.png) no-repeat center bottom;
}

.alertymes2 {
	background-color: #35d3b7;
}

.site_wrapper #bar{
  background: #35d3b7;
}

.pop-wrapper2.colored li a span{
	border: 4px solid #35d3b7;
	background: #35d3b7;
}
.pop-wrapper2.colored  li a span:after{
	border-top: 10px solid #35d3b7;
}


a {
	color: #35d3b7;
}

.color {
	color: #35d3b7;
}

.but_small3 span {
    background-color: #26bda2;
}
.but_medium3 span {
    background-color: #26bda2;
}
.but_large3 span {
    background-color: #26bda2;
}

.pricing-tables-helight .title {
	background-color: #22c3a7;
	border-top: 3px solid #12ad91;
	border-bottom: 1px solid #4be3c8;
}
.pricing-tables-helight .price {
	background-color: #35d3b7;
}
.pricing-tables-helight-two .title {
	background-color: #22c3a7;
	border-top: 3px solid #12ad91;
	border-bottom: 1px solid #4be3c8;
}
.pricing-tables-helight-two .price {
	background-color: #35d3b7;
}
.pricing-tables-main .ordernow .colorchan{
	color: #fff;
	background-color: #35d3b7;
}

.pricingtable1 ul.active li.mostp {
    background-color: #35d3b7;
}
.pricingtable1 ul.active li.title h4 {
    color: #35d3b7;
}
.pricingtable1 ul.active li.title h1 {
    color: #35d3b7;
}

.pricingtable1 ul.active li.planbut a {
    background-color: #35d3b7;
}
