body {
	padding: 0px;
	margin: 0px 0px 0px 0px;
	background: url(../../images2/elements/pattern14.jpg) fixed center top;
}
@media only screen and (min-width: 1000px){}
@media only screen and (min-width: 768px) and (max-width: 999px){

body {
	padding: 0px;
	margin: 0px;
}
}

@media only screen and (min-width: 480px) and (max-width: 767px){
body {
	padding: 0px;
	margin: 0px;
}
}

@media only screen and (max-width: 479px){

body {
	padding: 0px;
	margin: 0px;
}
}