
.form{
margin: 0px 70px 0px 70px;
    padding: 19px 25px 20px 25px;
border: 1px solid #000;
background-color: #fff;


}

lable{

font-size: 15px;
color: #000;
font-style: initial;

}


.form input[type="text"] {
    width: 100%;
    line-height: 30px;
    margin-bottom: 10px;
    font-size: 16px;
}

.button{

	background-color: #ffa726;	
	padding: 5px 30px 5px 30px;
	margin-left: 125px;
	margin-top: 20px;
	font-size: 16px;
	color: #fff;
}

.form input[type="radio"] {
    
    line-height: 0px;
    margin-bottom: 0px;
    font-size: 16px;
}


@media only screen and (max-width: 768px){
	.form {
    margin: 0px 0px 0px 0px;
    padding: 19px 25px 20px 25px;
    border: 1px solid #000;
    background-color: #fff;
}
}